{% extends 'base.html.twig' %}

{% block title %}Paul Strentz{% endblock %}

{% block body %}
    <div class="barre_un"></div>
    <div class="barre_deux"></div>
    <div class="barre_trois"></div>
    <div class="barre_quatre"></div>
    <div class="barre_cinq"></div>
    <div class="barre_six"></div>
    <div class="barre_sept">
        <ul class="contact_all">
            <a><li><i class="fas fa-envelope contact_item"></i></li></a>
            <a href="https://github.com/Strentz-Paul" title="GitHub/Strentz-Paul" alt="GitHub/Strentz-Paul" target="_blank"><li><i class="fab fa-github contact_item"></i></li></a>
            <a href="https://www.linkedin.com/in/paul-strentz/" title="LinkedIn/Paul-Strentz" alt="LinkedIn/Paul-Strentz" target="_blank"><li><i class="fab fa-linkedin contact_item"></i></li></a>
        </ul>
    </div>
    <div class="barre_huit"></div>
    <div class="barre_neuf"></div>
    <div class="barre_dix"></div>
    <div class="barre_onze"></div>
    <div class="container_un"></div>
    <div class="container_deux"></div>
    <div class="container_trois">
        <h1 class="title_site col-2">Paul Strentz</h1>
        <p class="hint offset-3 col-9 ">*Click and explore colors*</p>
    </div>
    <div class="container_quatre">
        <div class="text_box_4"><p>Je suis un text Je suis un text Je suis un text </p><button class="btn btn-primary button_voir_plus">Voir plus</button></div>
    </div>
    <div class="container_cinq"></div>
    <div class="container_six"></div>
    <div class="container_sept"></div>
    <div class="container_huit">
        <div class="text_box_8"><p>Je suis un text Je suis un text Je suis un text </p><button class="btn btn-primary button_voir_plus">Voir plus</button></div>
    </div>
    <div class="container_neuf"></div>
    <div class="container_dix"></div>
    <div class="container_dix_prime"></div>
    <div class="container_onze"></div>
    <div class="container_douze"></div>
    <div class="container_treize"></div>

{#<div class="container-fluid">#}
{#    <h1>Hello !! 👋 </h1>#}
{#    <a class="btn btn-dark" href="{{ path('euromillion_draw') }}">Tirage de l'Euromillion Simulation</a>#}
{#    <a class="btn btn-dark" href="{{ path('loto_draw') }}">Tirage du loto Simulation</a>#}
{#</div>#}
{% endblock %}
{% block javascripts %}
{% endblock %}
