{% extends 'base.html.twig' %}

{% block title %}Paul Strentz{% endblock %}

{% block body %}
    <div class="barre_un"></div>
    <div class="barre_deux"></div>
    <div class="barre_trois"></div>
    <div class="barre_quatre"></div>
    <div class="barre_cinq"></div>
    <div class="barre_six"></div>
    <div class="barre_sept"></div>
    <div class="barre_huit"></div>
    <div class="barre_neuf"></div>
    <div class="barre_dix"></div>
    <div class="container_un"></div>
    <div class="container_deux"></div>
    <div class="container_trois"></div>
    <div class="container_quatre"></div>
    <div class="container_cinq"></div>
    <div class="container_six"></div>
    <div class="container_sept"></div>
    <div class="container_huit"></div>
    <div class="container_neuf"></div>
{#<div class="container-fluid">#}
{#    <h1>Hello !! 👋 </h1>#}
{#    <a class="btn btn-dark" href="{{ path('euromillion_draw') }}">Tirage de l'Euromillion Simulation</a>#}
{#    <a class="btn btn-dark" href="{{ path('loto_draw') }}">Tirage du loto Simulation</a>#}
{#</div>#}
{% endblock %}
