{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Bienvenue !</h1>
    <a class="btn btn-dark" href="#">test</a>
</div>
{% endblock %}
