@import "~bootstrap";


* {
  padding:0;
  margin:0;
}
body {
  background-color: #efefef;
  color: #333333;
}

.barre_un {
  width: 5vw;
  height: 25vh;
  position:absolute;
  top:0;
  left: 27%;
  background-color: black;
}
.barre_deux {
  width: 2vw;
  height: 100vh;
  position:absolute;
  top:0;
  left: 32vw;
  background-color: black;
}
.barre_trois {
  width: 100vw;
  height: 2vh;
  position:absolute;
  top:25vh;
  left: 0;
  background-color: black;
}
.barre_quatre {
  width: 100vw;
  height: 2vh;
  position:absolute;
  top:67vh;
  left: 0;
  background-color: black;
}
.barre_cinq {
  width: 2vw;
  height: 33vh;
  position:absolute;
  top:67vh;
  left: 77vw;
  background-color: black;
}
.barre_six {
  width: 2vw;
  height: 25vh;
  position:absolute;
  top:0;
  left: 65vw;
  background-color: black;
}
.barre_sept {
  width: 13vw;
  height: 42vh;
  position:absolute;
  top:25vh;
  left: 87vw;
  background-color: black;
}
.barre_huit {
  width: 2vw;
  height: 67vh;
  position:absolute;
  top:0;
  left: 27vw;
  background-color: black;
}
.barre_neuf {
  width: 2vw;
  height: 42vh;
  position:absolute;
  top:25vh;
  left: 54vw;
  background-color: black;
}
.barre_dix {
  width: 20px;
  height: 42vh;
  position:absolute;
  top:0;
  left: 87vw;
  background-color: black;
}
.container_un {
  width:27vw;
  height:25vh;
  position: absolute;
  top:0;
  background-color: #EA1E13;
}
.container_deux {
  width:21vw;
  height:31vh;
  position: absolute;
  top:69vh;
  left:79vw;
  background-color: #F8EB00;
}
.container_trois {
  width:31vw;
  height:40vh;
  position: absolute;
  top:27vh;
  left:56vw;
  background-color: #3E64EA;
}
.container_quatre {
  width:32vw;
  height:11vh;
  position: absolute;
  top:89vh;
  left:0;
  background-color: #3E64EA;
}
.container_cinq {
  width:32vw;
  height:20vh;
  position: absolute;
  top:69vh;
  left:0;
  background-color: #000000;
}
.container_six {
  width:27vw;
  height:40vh;
  position: absolute;
  top:27vh;
  left:0;
  background-color: #F8EB00;
}
.container_sept {
  width:20vw;
  height:40vh;
  position: absolute;
  top:27vh;
  left:34vw;
  background-color: #F8EB00;
}
.container_huit {
  width:20vw;
  height:25vh;
  position: absolute;
  top:0;
  left:67vw;
  background-color: #EA1E13;
}
.container_neuf {
  width:3vw;
  height:40vh;
  position: absolute;
  top:27vh;
  left:29vw;
  background-color: #EA1E13;
}